.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

.wrapper{
    /* background: linear-gradient(to bottom,salmon, orange, yellow, aqua ); */
    margin: 50px auto;
    width: 800px;
    padding-left: 30px;
    padding-top: 30px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3),-2px -4px 8px rgba(0,0,0,0.3);
}

header{
    margin: 50px 0 0;
    color: #000;
}

.name h1{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 40px;
    font-weight: normal;
    color: #000;
}

.name p{
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}

.contacts{
    margin-bottom: 50px;
    width: 360px; 
    text-align: left;
}

.contacts p{
     margin-top: 0; 
     border-bottom: 4px solid #000; 
}

.contacts>ul{
    margin-top: 20px;
}

.contacts>ul>li{
    font-weight: bold;   
    line-height: 2;
}

.contacts>ul>li>span{
    font-weight: normal;
    margin-left: 20px;
    text-align: left;
}

.contacts>ul>li>.num{
    margin-left: 13px;
}

.self-intro,.work-gallery{
    margin-bottom: 20px;
    margin-top: 40px;
}

.self-intro h3,.work-gallery h3,.myskill h3{
    padding-bottom: 5px;
    width: 300px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.self-intro .list{
    position: relative;
    padding-left: 60px;
    border-left: 1px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.6);
}

.self-intro .list a{
    color:salmon;
}

.self-intro .list li{
    margin: 0;
    padding: 0;
    margin-top: 40px;  
}


.self-intro .list li::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #444;
}

.self-intro .list li:nth-child(1)::before{
    left:-5px;
    top: 0;
}

.self-intro .list li:nth-child(2)::before{
    left:-5px;
    top: 230px;
}

.self-intro .list li p{
    line-height: 1.5;
    letter-spacing: 1px;
}

.self-intro .list .first-p{
    position: relative;
    top:-6px;
}

.work-gallery .list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 800px;
}
.work-gallery .list li{
    width: 45%;
    margin-bottom: 16px;
}


.work-gallery .list li a{
    color: rgba(255, 94, 0, 0.99);
    display: inline-block;
    margin-bottom: 10px;
}

.myskill ul{
    padding-left: 10px;
}
.myskill ul ul li{
    line-height: 1.6;
}

.front-end,.back-end{
    position: relative;
    padding-left: 16px;
    border-left: 1px solid rgba(0,0,0,0.6);
}


.front-end .html-css h5::before,
.front-end .js h5::before,
.front-end .frame h5::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #444;
}

.front-end .html-css h5::before{
    top: 5px;
    left: -16px;
}

.front-end .js h5::before{
    top: 5px;
    left: -16px;
}


.front-end .frame h5::before{
    top: 5px;
    left: -16px;
}

.front-end h5,.back-end h5{
    position: relative;
    top:-6px;
}

.back-end .nodejs h5::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #444;
    top: 5px;
    left:-16px;
}

.advantages{
    position: relative;
    padding-left: 16px;
    border-left: 1px solid rgba(0,0,0,0.6);
    height: 90%;
}
#echart{
    position: relative;
    top: 0;
    left: 26px;
}

.myskill a{
    color: salmon;
}

.myskill h4{
    color: rgb(0, 153, 255);
    position: relative;
    left:-40px;
}

.skilllist,.point{
    margin-left: 50px;
}